{% extends "bootstrap/base.html" %} {% block head %} {{super()}} {% block styles
%}

<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
/>

<link
  href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
  rel="stylesheet"
/>

<style>
  .bg-default {
    background-color: #172b4d !important;
    border-radius: 1rem;
  }
  .table-dark {
    color: #fff;
    background-color: #172b4d;
  }
  .table .thead-dark th {
    color: #4d7bca;
    background-color: #1c345d;
  }
  /* Fixed table head */

  .tableFixHead {
    overflow: auto;
    height: 100px;
  }
  .tableFixHead thead th {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .my-custom-scrollbar {
    position: relative;
    overflow: auto;
  }
  .table-wrapper-scroll-y {
    display: block;
  }
  .custom-scrollbar-js,
  .custom-scrollbar-css {
    height: 600px;
  }

  /* Custom Scrollbar using CSS */
  .custom-scrollbar-css {
    overflow-y: scroll;
  }

  /* scrollbar width */
  .custom-scrollbar-css::-webkit-scrollbar {
    width: 5px;
  }

  /* scrollbar track */
  .custom-scrollbar-css::-webkit-scrollbar-track {
    background: #eee;
    border-radius: 5rem;
    margin-bottom: 15px;
  }

  /* scrollbar handle */
  .custom-scrollbar-css::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #00d2ff;
    background-image: linear-gradient(to top, #00d2ff 0%, #3a7bd5 100%);
  }
</style>
{% endblock %} {% endblock %} {% block content %}
<div class="main-content">
  <div class="container mt-7">
    <!-- Table -->
    <h2 class="m-3">Trade Calls</h2>
    <div class="row mt-5">
      <div class="col">
        <div class="card bg-default shadow-lg p-1 m-3">
          <div class="card-header bg-transparent border-0">
            <h3 class="text-white mb-0">THE 30M DIFF ({{ C30M }})</h3>
          </div>

          <div class="table-responsive custom-scrollbar-css tableFixHead">
            <table class="table align-items-center table-dark table-flush">
              <thead class="thead-dark">
                <tr>
                  <th>Coin</th>
                  <th>Position</th>
                  <th>Entry Time:</th>
                </tr>
              </thead>
              <tbody>
                {% for row in M30Diff %}
                <tr class="row100 body">
                  <td>{{ row.ticker }}</td>
                  <td>{{ row.signal }}</td>
                  <td>{{ row.timestamp }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        <div class="card bg-default shadow-lg p-1 m-3">
          <div class="card-header bg-transparent border-0">
            <h3 class="text-white mb-0">THE 1H DIFF ({{ C1H }})</h3>
          </div>
          <div class="table-responsive custom-scrollbar-css">
            <table class="table align-items-center table-dark table-flush">
              <thead class="thead-dark">
                <tr>
                  <th>Coin</th>
                  <th>Position</th>
                  <th>Entry Time:</th>
                </tr>
              </thead>
              <tbody>
                {% for row in H1Diff %}
                <tr class="row100 body">
                  <td>{{ row.ticker }}</td>
                  <td>{{ row.signal }}</td>
                  <td>{{ row.timestamp }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        <div class="card bg-default shadow-lg p-1 m-3">
          <div class="card-header bg-transparent border-0">
            <h3 class="text-white mb-0">THE 3H DIFF ({{ C3H }})</h3>
          </div>
          <div class="table-responsive custom-scrollbar-css">
            <table class="table align-items-center table-dark table-flush">
              <thead class="thead-dark">
                <tr>
                  <th>Coin</th>
                  <th>Position</th>
                  <th>Entry Time:</th>
                </tr>
              </thead>
              <tbody>
                {% for row in H3Diff %}
                <tr class="row100 body">
                  <td>{{ row.ticker }}</td>
                  <td>{{ row.signal }}</td>
                  <td>{{ row.timestamp }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %} {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="jscripts.js"></script>
  {{super()}} {% endblock %}
</div>
