<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trade Calls</title>
</head>
<body>
    <table>
        <tr>
          <th>Coin</th>
          <th>Position</th>
          <th>Entry Time:</th>
        </tr>
        {% for row in result %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row.signal }}</td>
            <td>{{ row.timestamp }}</td>
        
        </tr>
        {% endfor %}
      </table>
</body>
</html>